form {
    border: 1px solid gray;
    border-radius: 5px;
    max-width: 400px;
    padding: 10px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-field {
    margin: 10px 0px;
    display: flex;
}

.label {
    min-width: 70px;
}

form button {
    outline: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px;
}

form button:hover {
    cursor: pointer;
    background-color: gray;
}